.page-loader {
    background: #010001;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
}

.page-loader--hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
}