.form {
  position: relative;
}

.btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  color: $link-color;
  transition: 0.2s;

  &:hover {
    color: $brand-secondary;
  }
}
