.box {
  min-width: 300px;
  width: 100%;
}

.form {
  display: grid;
  gap: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.link {
  font-size: 13px;
}

.error {
  margin-top: 15px;
}
